.score-area {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  background-color: pink;

  &--active {
    background-color: hotpink;
  }

  span + span {
    margin-left: 20px;
  }

  button {
    position: absolute;
    right: 15px;
  }
}

@media only screen and (max-device-width: 768px) {
  .score-area:nth-of-type(1) {
    transform: rotate(180deg);
  }
}
